.ac-result {
  position: absolute;
  width: 100%;
}
.background-cat{
  background: url('../img/background.jpg') no-repeat center center fixed; ;
  background-size: cover;
  min-height: 400px;
}
.auth-form{
  position: absolute;
  right: 0;
  display: block;
  margin-top: 70px;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  top: 5px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2)
}
.dropdown-caret .caret-outer {
  border-bottom: 10px solid #657786;
  border-bottom-color: rgba(0,0,0,0.1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: auto;
  left: 0;
  top: 0;
  width: auto;
}
.dropdown-caret .caret-inner {
  top: 1px;
  left: 1px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
  border-bottom-color: #fff;
}
.dropdown-caret {
  position: absolute;
  top: -10px;
  right: 45px;
}

.dropdown-caret .caret-outer, .dropdown-caret .caret-inner {
  position: absolute;
  display: inline-block;
  margin-left: -1px;
}
.has-text-star {
  color: #ffd800;
}
.logout-button, .star-image {
  padding: 0;
  border: none;
  background: none;
}
.random-image {
  max-width: 500px;
  max-height: 500px;
}
.star-image:hover {
  color: #a55500;
}
.fav-image{
  max-height:100%; 
  max-width:100%;
}
.img-container {
  display: inline-block;
}
.img-block{
  width: 280px;
  height: 280px;
  display: inline-block;
  margin: 5px;
  background-size: cover;
  background-position: center;
  text-align: right;
  overflow: hidden;
  z-index: 2;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}
.star-image{
  display: none;
  z-index: 100;
}

.img-block:hover .star-image {
  display: inline-block;
  position: relative;
}
.img-block:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.1);
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  z-index:3
}  
.img-block:hover:before {
  background: none;
}
.image-clickable{
  height: 90%;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 10;
}