.ac-result {
  position: absolute;
  width: 100%;
}
.background-cat{
  background: url('../img/background.jpg') no-repeat center center fixed; ;
  background-size: cover;
  min-height: 400px;
}
.auth-form{
  position: absolute;
  right: 0;
  display: block;
  margin-top: 70px;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  top: 5px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2)
}
.dropdown-caret .caret-outer {
  border-bottom: 10px solid #657786;
  border-bottom-color: rgba(0,0,0,0.1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: auto;
  left: 0;
  top: 0;
  width: auto;
}
.dropdown-caret .caret-inner {
  top: 1px;
  left: 1px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
  border-bottom-color: #fff;
}
.dropdown-caret {
  position: absolute;
  top: -10px;
  right: 45px;
}

.dropdown-caret .caret-outer, .dropdown-caret .caret-inner {
  position: absolute;
  display: inline-block;
  margin-left: -1px;
}
.has-text-star {
  color: #ffd257;
}
.logout-button, .star-image {
  padding: 0;
  border: none;
  background: none;
}
.random-image {
  max-width: 500px;
  max-height: 500px;
}
.star-image {
  position: absolute;
}
.star-image:hover {
  color: #a55500;
}
.fav-image{
  max-height:100%; 
  max-width:100%;
}
.img-container{
  width:25%;
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
}